<div id="logo">
  <%= link_to t('.logo'), root_path %>
</div>

<% if signed_in? %>
  <p>
    <%= link_to current_user.username, user_path(current_user) %> ||
    <%= link_to t('.sign_out'), session_path, method: :delete %>
  </p>
<% else %>
  <%= link_to t('.sign_in'), new_session_path %> ||
  <%= link_to t('.sign_up'), new_user_path %>
<% end %>
